.io-zoom-controls {
  width: auto;
  position: fixed;
  right: 10px;
  bottom: 80px;
  z-index: 2;
}

.io-control-list {
  list-style: none;
  padding: 5px;
  margin: 0;
  background: #fafafa;
  border-radius: 2px;
  border: solid 1px #e0e0e0;
}

.io-control-list li div {
  cursor: pointer;
}

.io-control-list li hr {
  border: none;
  border-top: solid 1px #ddd;
  width: 15px;
}

.io-control-list svg {
  display: block;
  width: 25px;
  height: 25px;
  color: #555555;
}
